.password-wrap {
    display: flex;
    justify-content: center;
    border: 0;
    background-color: #fff;
    width: 30%;
    margin: 0 auto;
    margin-top: 15rem;
    border-radius: 20px;
}

.password-main {
    width: 55%;
}

#password-btn {
    display: flex;
    padding-bottom: 20px;
}